/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-padding: 60px;
    --section-background: #ececec;
    --main-duration: 0.5s;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
  /* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
.button {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid var(--main-color);
    padding: 5px 20px;
    font-size: 25px;
    width: fit-content;
    background: var(--main-color);
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}
.button a {
    color: white;
}
/* Start Header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    /* width: 60px; */
    font-size: 19px;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration);
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start Landing Section */
.landing {
    background-image: url(../images/pexels-cottonbro-4066292.jpg);
    background-size: cover;
    background-position: center top;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    color: #666666;
}
/* End Landing Section */
/* Start Articles */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: 60px;
    position: relative;
}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .box img {
    width: 100%;
    max-width: 100%;
}
.articles .box .content {
    padding: 20px;
}
.articles .box .content h3 {
    margin: 0;
}
.articles .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .box .info a {
    color: var(--main-color);
    font-weight: bold;
}
.articles .box .info i {
    color: var(--main-color);
}
.articles .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
}
@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}
/* End Articles */
/* Start About Section */
.about {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.about .container {
    width: 50%;
    text-align: center;
}
@media only screen and (max-width: 769px)  {
    .about .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
.about p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
/* End About Section */
/* Start Contact Section */
.contact {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}
.contact .info {
    /* padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); */
    text-align: center;
}
.contact .info .label , .steps {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .steps {
    color: #333;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
}
.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}
/* End Contact Section */
.footer {
    background-color: #191919;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer a {
    font-weight: bold;
    color: var(--main-color);
}